.li-con {
  list-style-type: none;
}
.listImage1 {
  height: 140px;
  width: 140px;
}
.imageButton {
  height: 150px;
  width: 150px;
  background-color: #2c0e3a;
  margin: 10px;
  border-style: none;
}
